
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  background-color: #32393f
}
  
.material-icons.md-18 { font-size: 18px; }

.footertext{
color: white;
}

.topnav {
  overflow: hidden;
  background-color: #32393f;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.textlogo {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: -5px -5px 0px #5865F2;
  background: radial-gradient(#EB459E 1px, transparent 1px);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin: 20px auto;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #7289da;
  color: white;
}
  
  h1{
  color: white;
  }
  
  h2{
  color: white;
  }
  
  h3{
  color: white;
  }
  
  p{
  color: white;
  }

